.container{
    background-image: url('/assets/images/kettlebell.jpg');
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    background-position: center;
}

h1{
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    color: white;
    font-size: 50px;
}

.timer_box{
    text-align: center;
    margin-left: 35%;
    margin-right: 35%; 
    color: white;
}


.work{
    background-color: red;
    height: 100px;
    width: 75%;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}

.rest{
    background-color: green;
    height: 100px;
    width: 75%;
    text-align: center;
    font-size: 50px;
}

.cycles{
    background-color: #255a48;
    height: 100px;
    width: 75%;
    text-align: center;
    font-size: 50px;
}

.tabatas{
    background-color: darkgray;
    height: 100px;
    width: 75%;
    text-align: center;
    font-size: 50px;
}

.prepare{
    background-color: lightblue;
    height: 100px;
    width: 75%;
    text-align: center;
    font-size: 50px;

}

.submit{
    background-color: lawngreen;
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.header{
    margin-bottom: 20px;
}
