<div class="container">

    <!-- form goes away when the user clicks submit -->
    <form *ngIf="show_timer == false">
        <app-nav-bar></app-nav-bar>
        <h1>Welcome {{name}} time to workout!</h1>
        <div class="timer_box">
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Work</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="work" [(ngModel)]="form_info.work">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">Rest</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="rest" [(ngModel)]="form_info.rest">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">Cycles</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="cycles"[(ngModel)]="form_info.cycles">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label">Tabatas</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="tabatas" [(ngModel)]="form_info.tabatas">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label">Prepare</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="prepare" [(ngModel)]="form_info.prepare">
                </div>
            </div>
            <input (click)="tabataForm()" value="Submit" class="submit" type="submit">
        </div>
    </form>

    <app-timer *ngIf="show_timer == true" [numbers]="form_info" [original]="original_nums" (backButtonClicked)="backButtonClicked($event)"></app-timer>   

</div>

