<form *ngIf="show_form == true">
	Work: <input type="text" name="work" [(ngModel)]="work"><br>
	Rest: <input type="text" name="rest" [(ngModel)]="rest"><br>
	Cycles: <input type="text" name="cycles" [(ngModel)]="cycles"><br>
	Tabatas: <input type="text" name="tabatas" [(ngModel)]="tabatas"><br>
	Prepare: <input type="text" name="prepare" [(ngModel)]="prepare"><br>
	<input (click)="tabataForm()" value="Submit" type="submit">
</form>


<h1 class="action_banner">{{action}}</h1>
<div class="container">
	<h1>Tabata</h1>
	<h1><b>{{work}}</b></h1>
	<div id="controls" align="center">
		<button id= "pause" (click)="startPause()" *ngIf="running == true"><b id="pause">Pause</b></button>
		<button id= "start" (click)="startPause()" *ngIf="running == false"><b id="start">Start</b></button>
		<button onclick="reset()" id="reset"><b id="reset">Reset</b></button>
	</div>

	<div id="bottom_bar">
		<div id="cycles"><h2>Cycles</h2><h2>{{cycles}}/{{original_cycles}}</h2></div>
		<div id="tabatas"><h2>Tabatas</h2><h2>{{tabatas}}/{{original_tabatas}}</h2></div>
	</div>
	
	<p>Total Time:</p>
</div>