body {
  background-color: #e6e6e6;
 }
 h1 {
  font-size: 4.5em;
 }
h2{
  font-size: 43px;
}

.pause_start {
  font-size: 2vw;
  width: 20%;
  height: 25%;
  border-radius: 5%;
}

img{
  height: 61px;
}

#start{
  background-color: green;
  border-color: green;
  width: 50%;
  margin: 0 auto;
}

#pause{
  background-color: red;
  border-color: red;
  width: 50%;
  margin: 0 auto;
}


.container {
  margin: auto;
  width: 40%;
  text-align: center;
  color: #B4A6A6;
}

.container h1{
  font-size: 6vw;
}


#bottom_bar{
  display: inline-block;
  width: 100%;
  
}
#cycles{
  display: inline-block;
  margin-right: 20%;
}

#cycles h2{
  font-size: 3vw
}


#tabatas{
  display: inline-block;
}

#tabatas h2{
  font-size: 3vw;
}

.action_banner{
  text-align: center;
}

.workClass{
  background-color: rgba(238, 14, 14, 0.5);
  border-radius: 7%;
}

.restClass{
  background-color: rgba(38, 51, 126, 0.5);
  border-radius: 7%;
}

.prepareClass{
  background-color: rgba(125, 145, 13, 0.5);
  border-radius: 7%;
}

.total_time{
  font-size: 3vw;
  margin-top: 10%;
}

.speakers{
  float: right;
}
