<!-- Static navbar -->
<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" [routerLink]="['/home']">Tabata</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a [routerLink]="['/home']" (click)="back()">Home</a></li>
					<li><a [routerLink]="['/results']" (click)="back()">Results</a></li>
					<li><a [routerLink]="['/']" (click)="back()">Log Out</a></li>
					<li><a type="button" (click)="back()">Back</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>

<div class="speakers">
	<img *ngIf="playing == false" src="../assets/images/mute_color.png" (click)="stop_start_audio()">
	<img *ngIf="playing == true" src="../assets/images/color.png" (click)="stop_start_audio()">
</div>
<!-- <h1 class="action_banner">{{action}}</h1> -->
<div class="container" [class.workClass]="work_screen" [class.restClass]="rest_screen" [class.prepareClass]="prepare_screen">
	<h1>{{action}}</h1>
	<h1><b>{{numbers.work}}</b></h1>
	<div id="controls">
		<button class="pause_start" id= "pause" (click)="startPause()" *ngIf="running == true"><b id="pause">Pause</b></button>
		<button class="pause_start" id= "start" (click)="startPause()" *ngIf="running == false"><b id="start">Start</b></button>
	</div>

	<div id="bottom_bar">
		<div id="cycles"><h2>Cycles</h2><h2>{{numbers.cycles}}/{{original.original_cycles}}</h2></div>
		<div id="tabatas"><h2>Tabatas</h2><h2>{{numbers.tabatas}}/{{original.original_tabatas}}</h2></div>
	</div>
	
	<p class="total_time">Total Time: {{shown_total_time}}</p>
</div>

<button [hidden]="true" type="button" data-toggle="modal" data-target="#results" id="openResults" #openResults></button>

<!-- Modal -->
<div class="modal fade" id="results" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
		  <h2>Congratulations!!!</h2>
		  <a class="btn btn-default" role="button" [routerLink]="['/results']" data-dismiss="modal" (click)="back()">Results</a>
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>