.header h2{
    display: inline-block;
}

.weight{
    text-align: center;
}

.table{
    max-height: 200px;
    overflow: auto;
}

.errors{
    color: red;
}

.move_right{
    float: right;
    color: red;
}